.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-gap: 2em;
  padding: 0 5%;
  margin-top: -70px;

  .card {
    background: #fff 50%;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0 0 1px rgba(39, 44, 49, 0.1),
        0 3px 16px rgba(39, 44, 49, 0.07);
      transition: all 0.3s ease;
      transform: translate3D(0, -1px, 0);
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      min-height: 300px;
      padding: 20px;
      a {
        display: block;
        color: black;
      }
    }
    &__title {
      span {
        display: block;
        margin-bottom: 7px;
        color: #738a94;
        font-size: 12px;
        line-height: 1.15em;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
      h2 {
        margin: 0 0 0.5em;
        font-size: 20px;
      }
    }
    &__description {
      p {
        font-family: 'Georgia', serif;
        color: #15171a;
        line-height: 1.7;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 300;
      }
    }
    &__footer {
      .author {
        color: #26a8ed;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}
