footer {
  color: #191e27;
  padding: 5% 10%;
  margin-top: 30px;
  text-align: center;
  p {
    max-width: 730px;
    margin: 0 auto 20px;
    line-height: 1.5;
    a {
      border-bottom: 1px solid #191e27;
    }
  }
}
