header {
  @include flex-center;
  flex-direction: column;
  padding: 5% 10%;
  background-color: #191e27;
  text-align: center;
  height: 40vh;
  min-height: 370px;
  h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
  }
  h2 {
    color: #ddd;
    font-weight: 400;
  }
}
